In [1]:
import pandas as pd

In [3]:
datos = pd.read_csv('listado - listado.csv')

In [4]:
df1 = pd.DataFrame(datos)

In [7]:
datos

    Número de Alumno                     Apellido y Nombre       DNI
0                  1                 ALCOBA,Joselin Anabel  45071168
1                  2                 ARIAS, Agustín Hernán  45630922
2                  3                BAUTISTA, Selena Nadia  45924751
3                  4                        BALANZA, Angel  45686531
4                  5                BUSTOS, Eduardo Leonel  45324343
5                  6         CASERES ORTIZ, Milagros Belen  44612414
6                  7                  DELGADILLO, Santiago  44940497
7                  8           Agustin Daniel Antonio Diaz  45304773
8                  9                GALEANO, Emanuel Elian  45069326
9                 10                   GARAY, Juán Ignacio  47013189
10                11                     GIMENEZ, Cristian  45353841
11                12  HUARCA VILLAVICENCIO, Analía Rosmari  45924197
12                13                      LODEIRO, Luciana  44937521
13                14                  LOPEZ, Selene Jazmin  44627689
14                15         MONTAÑO DAZA, Joaquín Luciano  45924797
15                16       MONTERO CERVANTES, Daniel Kevin  45071117
16                17               PALACIOS, Paola Beatriz  45895793
17                18                          PEÑA, Matias  45068287
18                19                           RICO, Kevin  45200296
19                20           SAUCEDO VERON, Michael Joel  45200421
20                21               VAZQUEZ, Lautaro Leonel  45684355
21                22                VEGA, Santiago Gabriel  44423888
22                23   VEISAGA MACHICADO, Katherine Lucero  48494274
23                24                    VERDUGUEZ, Leandro  45299562
24                25              VILLALBA, Milagros María  45889884
25                26                 ZARZA, Eduardo Fermín  45477786

In [6]:
df1 = pd.DataFrame(datos)

In [13]:
viejos = df1['DNI']<45000000

In [16]:
viejos

0     False
1     False
2     False
3     False
4     False
5      True
6      True
7     False
8     False
9     False
10    False
11    False
12     True
13     True
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21     True
22    False
23    False
24    False
25    False
Name: DNI, dtype: bool

In [17]:
df1 [viejos]

    Número de Alumno              Apellido y Nombre       DNI
5                  6  CASERES ORTIZ, Milagros Belen  44612414
6                  7           DELGADILLO, Santiago  44940497
12                13               LODEIRO, Luciana  44937521
13                14           LOPEZ, Selene Jazmin  44627689
21                22         VEGA, Santiago Gabriel  44423888

In [20]:
df1 [['Apellido y Nombre', 'DNI']]

                       Apellido y Nombre       DNI
0                  ALCOBA,Joselin Anabel  45071168
1                  ARIAS, Agustín Hernán  45630922
2                 BAUTISTA, Selena Nadia  45924751
3                         BALANZA, Angel  45686531
4                 BUSTOS, Eduardo Leonel  45324343
5          CASERES ORTIZ, Milagros Belen  44612414
6                   DELGADILLO, Santiago  44940497
7            Agustin Daniel Antonio Diaz  45304773
8                 GALEANO, Emanuel Elian  45069326
9                    GARAY, Juán Ignacio  47013189
10                     GIMENEZ, Cristian  45353841
11  HUARCA VILLAVICENCIO, Analía Rosmari  45924197
12                      LODEIRO, Luciana  44937521
13                  LOPEZ, Selene Jazmin  44627689
14         MONTAÑO DAZA, Joaquín Luciano  45924797
15       MONTERO CERVANTES, Daniel Kevin  45071117
16               PALACIOS, Paola Beatriz  45895793
17                          PEÑA, Matias  45068287
18                           RICO, Kevin  45200296
19           SAUCEDO VERON, Michael Joel  45200421
20               VAZQUEZ, Lautaro Leonel  45684355
21                VEGA, Santiago Gabriel  44423888
22   VEISAGA MACHICADO, Katherine Lucero  48494274
23                    VERDUGUEZ, Leandro  45299562
24              VILLALBA, Milagros María  45889884
25                 ZARZA, Eduardo Fermín  45477786

In [22]:
df1.tail()

    Número de Alumno                    Apellido y Nombre       DNI
21                22               VEGA, Santiago Gabriel  44423888
22                23  VEISAGA MACHICADO, Katherine Lucero  48494274
23                24                   VERDUGUEZ, Leandro  45299562
24                25             VILLALBA, Milagros María  45889884
25                26                ZARZA, Eduardo Fermín  45477786

In [ ]:
w

In [23]:
df1.head()

   Número de Alumno       Apellido y Nombre       DNI
0                 1   ALCOBA,Joselin Anabel  45071168
1                 2   ARIAS, Agustín Hernán  45630922
2                 3  BAUTISTA, Selena Nadia  45924751
3                 4          BALANZA, Angel  45686531
4                 5  BUSTOS, Eduardo Leonel  45324343